.app {
  height: 100%;
}

.hero_section {
  background-image: url(./code.jpeg);
  height: 600px;
  width: 100vw;
  margin: -8px;
  border-top: 2px groove #f6e7e8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px groove #f6e7e8;
}

.hero_content_wrapper{
  background:rgba(0,0,0,0.60);
  height:600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_content {
  margin-left: 8px;
  margin-right: 8px;
}

.react-reveal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.react-reveal.bio {
  padding-left: 30px;
  width: 900px;
}

.react-reveal button {
  background: #f6e7e8;
  cursor: pointer;
  transition: .75s;
}

.react-reveal button:hover,
.react-reveal button:active{
  background-color: lightcoral;
}

.content {
  border-top: groove;
  border-color: #f6e7e8;
  border-width: 2px;
  border-bottom: groove;
  border-color: #f6e7e8;
  border-width: 2px;
  background-color: black;
  color: #f6e7e8;
  margin-top: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.portrait{

  margin-top: 80px;

}

.portrait img{
  height: 350px;
  width: auto;
  border-radius: 50%;
}

.work{
  color: #f6e7e8;
  margin-bottom: 80px;
  border-bottom: 2px groove #f6e7e8;
}

.react-reveal.squares_wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.squares {
  width: 1000px;
}

.square {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -4px;
}

.img_wrapper img {
  width: 650px;
  height: 400px;
  transition: .75s
}

.img_wrapper img:hover,
.img_wrapper img:active {
  opacity: .50;
}

.img_wrapper_am img{
  width: 650px;
  height: 400px;
  padding-top: 50px;
  transition: .75s;
}

.img_wrapper_am img:hover,
.img_wrapper_am img:active {
  opacity: .50;
}

.square_text_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 42px;
}



.contact {
  color: #f6e7e8;
  height: 600px;
  display: flex;
  justify-content: center;
}
.contact-wrapper{
  width: 100vw;
  background:rgba(0,0,0,0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone i{
  height: 100px;
  font-size: 2em;
  margin-left: -8px;
 }

.email i{
  height: 100px;
  font-size:2em;
}

.linkedin {
  margin-top: 40px;
  height: 100px;
  font-size:2em;
}

.linkedin a{
  text-decoration: none;
  color:  #f6e7e8;
  transition: 0.75;
}

.linkedin a:hover{
  opacity:.50;
}

.github {
  height: 100px;
  font-size:2em;
}

.github a{
  text-decoration: none;
  color:  #f6e7e8;
  transition: 0.75;
}

.github a:hover{
  opacity:.50;
}

@media (max-width: 768px) {

  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .react-reveal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .react-reveal.bio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    padding-left: 0px;
    margin: 0;
   }
  
  .content {
    margin: 0;
  }

  .react-reveal.header {
    margin-top: 60px;
    margin-bottom: -30px;
  }
  .react-reveal.squares_wrapper{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
  }

  .squares {
    width: 100%;
  }

  .square {
   
    grid-template-columns: 1fr !important;
    width: 100%;
  }

  .square_text_wrapper {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .square_text_wrapper h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .img_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 2;
  }

  .img_wrapper img{
    height: 200px;
    width: 350px;
  }

  .img_wrapper_am{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 3;
  }

  .img_wrapper_am img{
    height: 200px;
    width: 350px;
  }



}
